<center>
	<br/><br/><br/>
	<form action="/detail/<%=docID%>" method="POST">
		<fieldset style="width: 300px;">
		<legend>Изменить:</legend>
			<label for="title">Заголовок:</label><br/>
			<input type="text" name="title" value="<%=data.title%>"><br><br>

			<label for="text">Текст:</label><br/>
			<textarea name="text"><%=data.text%></textarea><br><br>

			<label>Создан:</label><br/>
			<%=data.date.addedAt.toDate()%><br><br>

			<label>Обновлен:</label><br/>
			<%=data.date.updatedAt.toDate()%><br><br>

			<input type="submit" value="Сохранить"><br/>
		</fieldset>
	</form>
</center>